{{#x-carousel autoplay=true as |carousel|}}
  {{#carousel.slides as |slides|}}
    {{#slides.slide class="one"}}
      <a href="#meet-the-nest-protect" draggable="false">
        <span class="gallery-play-button"></span>
      </a>
    {{/slides.slide}}

    {{slides.slide class="two"}}

    {{slides.slide  class="three"}}
  {{/carousel.slides}}

  {{carousel.dots arrows=true}}
{{/x-carousel}}
